{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "parser": "typescript",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": "*.json",
      "options": { "parser": "json" }
    }
  ]
}
